.main {
  margin-top: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.main-card {
  background-color: var(--accent);
  padding: 40px;
  border-radius: 25px;
  max-width: 960px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.main-card__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  max-width: 100%;
  background-color: #26292d;
  border-radius: 17px;
}

a {
  text-decoration: none;
  color: #171718;
}

.card-descr {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 700;
  font-size: 40px;

  margin-bottom: 25px;
}

.card-name {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 25px;
}

.social-img img {
  height: 50px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .main {
    display: block;
  }
  .main-card {
    padding: 25px;
  }
  .card-title {
    font-size: 36px;
  }
}

@media (max-width: 520px) {
  .card-title {
    margin-bottom: 15px;
  }
  .card-name {
    margin-bottom: 15px;
  }
  .card-inst {
    font-size: 24px;
  }
}
